<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact US</title>
    <link rel="stylesheet" href="~/css/master.css"/>
</head>
<body>
    <h1>Contact</h1>
    <a href="/">Home Page</a>    
    <a href="Project">Project page</a>
    <a href="Contact">Contact Us</a>
    <p>Tell me what you think below!</p>
    <form action="" >
        <textarea cols="40" rows="8" name="comment"></textarea>
        <br>
        Name: <input type="text" name="name"></input>
        <input type="submit" value="Submit"></input>
    </form>
</body>
</html>