<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project</title>
    <link rel="stylesheet" href="~/css/master.css"/>
</head>
<body>
    <h1>Projects</h1>
    <a href="/">Home Page</a>    
    <a href="Project">Project page</a>
    <a href="Contact">Contact Us</a>
    <table>
        <tr>
            <th>Title</th>
            <th>Image</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Login</td>
            <td><img src="~/img/proj1.JPG" class="proj" alt="login project"></td>
            <td>Assignment: Create a functional login and registration page connected to a sqlite database.</td>
        </tr>
         <tr>
            <td>Courses</td>
            <td><img src="~/img/proj2.JPG" class="proj" alt="courses project"></td>
            <td>Assignment: Create a webpage that allowed the creation of courses and listed available courses in a table.</td>
        </tr>
         <tr>
            <td>OT</td>
            <td><img src="~/img/proj3.JPG" class="proj" alt="OT project"></td>
            <td>This is something I am developing on my own. It is software that would be used to track overtime in a company.</td>
        </tr>
    </table>
    
</body>
</html>