@{
    ViewData["title"] = "Dojos";
}
<div class="box">
    <div class="half" style="border-right:4px solid black;">
        <h1>All Dojos</h1>
        <table class="table table-striped">
            <tr>
                <th>Dojo Name</th>
            </tr>
            <tr>
                <td><a href="/">Example</a></td>
            </tr>
        </table>
    </div>

    <div class="half">
        <form action="/Dojo/Add" method="POST">
        <h1>Register A Dojo</h1>
        <p><label for="name">Dojo Name:</label></p>
        <p><input type="text" id="name" name="name"></p>
        <p><label for="location">Dojo Location:</label></p>
        <p><input type="text" id="location" name="location"></p>
        <p><label for="description">Additional Dojo Information</label></p>
        <p><textarea cols=60 rows=4 name="description" id="description"></textarea></p>
        <p><input type="submit" class="button" value="Add"></p>
        </form>
    </div>
</div>