@{
    ViewData["Title"] = "Home Page";
}

<form action="pokemon" method="Get">
<h1>Search</h1>
<p>To search for a pokemon you first search per this url: https://pokeapi.co/api/v2/pokemon/</p>
<p>Enter only the Pokemon ID.</p>
    <input type="text" name = "pokeid" value = "50">
    <input type="submit" value="Submit">
</form>
<a href="/pokemon/1">Temporary link to Bulbasaur</a>