.top{
  background-color: rgb(240,240,240);

}
h1, .top h2{
  color: black;
  display: inline-block;
}
.top h2{
  position: relative;
  left:425px;
}
#picture{
  margin: 15px;
  width:400px;
  border: 5px solid silver;
}
.container{
  font-family: sans-serif;
  background: radial-gradient(rgb(111,89,100),rgb(27,11,15)) ;
  width:1000px;
  height:1040px;
}
.window{
  background: linear-gradient(rgb(177,176,180),rgb(118,117,130),rgb(177,176,180),white,white,white,white);
  width:300px;
  height:460px;
  background-color: white;
  display: inline-block;
  margin:15px 15px 0px;
  vertical-align: top;
}
p{
  padding:10px;
}
h3{
  margin-left: 15px;
  color: white;
}
#about{
  width:500px;
  height:273px;
}
.window img{
  width:300px;
  border:0px;
  margin: 0px;
}
.imgchart img{
  width: 45px;
  margin:5px;

}
.imgchart h3{
  position: relative;
  right:80px;
}

.imgchart{
    background: linear-gradient(rgb(177,176,180),rgb(118,117,130),rgb(177,176,180),white,white,white,white,white);
  width:300px;
  height: 240px;
  background-color: white;
  display: inline-block;
  margin: 0px 15px;
  text-align: center;
}
.imgchart a{
  font-size: 15px;
  background-color: green;
  border-radius: 5px;
  color: white;
  padding: 10px;
  position: relative;
  top: 10px;
}
.end{
  width: 1000px;
  text-align: center;
  color: black;
  margin: 10px;
}
.end a{
    font-style: italic;
}
.end img{
  height:14px;
}
