<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {%load static%}
    <title>Survey Form</title>
    <link rel="stylesheet" href="{% static 'survey_app/css/main.css' %}">
  </head>
  <body>
    <div class="window">
      <form class="" action="survey/process" method="post">
        {%csrf_token%}
        <div class="box">
          <h2>Your name:</h2>
          <br>
          <h2>Dojo Location:</h2>
          <br>
          <h2>Favorite Language:</h2>
        </div>
        <div class="box">
          <input type="text" name="name" value="">
          <br>
          <input type="text" name="loc" value="">
          <br>
          <input type="text" name="lang" value="">
        </div>
        <br>
        <h2>Comments(optional)</h2>
        <br>
        <textarea name="com" rows="8" cols="80"></textarea>
        <br>
        <input class = "button" type="submit" name="" value="Submit">
      </form>
    </div>
  </body>
</html>
