h2{
  color: blue;
}
body{
  text-align: center;
  margin-top: 400px;
}
input{
  width:80px;
  height:40px;
  background: linear-gradient(rgb(0, 150, 150), rgb(0, 200, 200));
  border-radius: 5px;
  border: 2px solid silver;
}
