<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Welcome to the Index! This has been reached throught the Main controller with a GET method.</h1>
    <h2>Unknowns that need more work are stored here to be returned to when possible.</h2>
    <p>1.Both methods of querying need to be worked through and fully understood. Create a controller for this.</p>
    <p>2.JSON files need to be figured out.Create a controller for this.</p>
    <p>3.Session and ViewBag need to be practiced before continuing on. Create a controller for this.</p>
    <p>4.Add static files to this page and every page created for practice.</p>
    <p>5.Write a few classes, parent and child. Write constructors for parent and child. Write methods and overwrite those methods in the child class.</p>
    <a href="">Main Page</a>
    <a href="Query">Query Page</a>
    <a href="JSON">JSON Page</a>
    <a href="Session">Session Page</a>
    <a href="jsontest">JSON TEST PAGE</a>
    <form action="JSON" method="POST">
        <input type="text" name="name">
        <input type="text" name="home">
        <input type="text" name="age">
        <input type="submit" value="JSON">
    </form>
</body>
</html>