@{
    ViewData["Title"] = "Home Page";
}
<p>Testing</p>


<div class="info">
Info Div
</div>
<button class="query">Testing</button>
<input class="infobox" type="text" name="info">
<br>
<button class="newtest">Extra Test</button>
<div class="empty"></div>
