<!-- ******************************************
*  Author : Author   
*  Created On : Fri Jan 26 2018
*  File : Hello.html
******************************************* -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Author">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/master.css"/>
</head>

<body>
    <h1>Home</h1>
    <a href="/">Home Page</a>    
    <a href="Project">Project page</a>
    <a href="Contact">Contact Us</a>
    <h2>Brad Walasek</h2>
    <p>I am a laminator at an aerospace company currently, 
       hoping to learn coding and development to broaden 
       my horizons.</p>
    <img src="~/img/self.jpg" alt="Image of Brad">
</body>

</html>
