<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome {{request.session.logged.first}}</h1>
    <a href="/book/add">Add book and review</a>
    <a href="/logout">Logout</a>
    <h2>Recent Book Reviews:</h2>
    {%if books%}
    {%for book in books%}
    <a href="/book/{{review.id}}">{{book.title}}</a><br>
    Author: {{book.author}}<br>
    Review: {{book.reviews}}<br>

    {{reviews}}

    <br>
    {%endfor%}
    {%endif%}

  </body>
</html>
