<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {%load static%}
    <title>Create an account</title>
    <link rel="stylesheet" href='{% static "User_Dashboard_app/css/bootstrap.css"%}'>
  </head>
  <body>
    <div class="container">
      <h1>Register</h1>
      {%if messages%}
      <h4>An issue was encountered when creating your account</h4>
      <br>
      {%for message in messages%}
      {{message}}
      <br>
      {%endfor%}
      {%endif%}
      <form class="" action="create" method="post">
        {%csrf_token%}
        <h3>Email:</h3><input type="text" name="em" value="hexas012@hotmail.com">
        <br>
        <h3>First Name:</h3><input type="text" name="fn" value="Brad">
        <br>
        <h3>Last Name:</h3><input type="text" name="ln" value="Walasek">
        <br>
        <h3>Password:</h3><input type="text" name="pw" value="00000">
        <br>
        <h3>Confirm Password:</h3><input type="text" name="cp" value="00000">
        <br>
        <input class = "button" type="submit" name="" value="Register">
      </form>
      <a href="/login">Already have an account? Login here!</a>
    </div>
  </body>
</html>
