<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success!</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}">
  </head>
  <body>
    <div class="container">  
      <h1>You are logged in {{session['logged'][0]['first_name']}}</h1>
      <h2>Here is your info</h2>
      <table>
        <tr>
          <th>first</th>
          <th>last</th>
          <th>email</th>
          <th>pass</th>
          <th>Date/time Created</th>
        </tr>
        <tr>
          <td>{{session['logged'][0]['first_name']}}</td>
          <td>{{session['logged'][0]['last_name']}}</td>
          <td>{{session['logged'][0]['email']}}</td>
          <td>{{session['logged'][0]['password']}}</td>
          <td>{{session['logged'][0]['created_at']}}</td>
        </tr>
      </table>
      <form class="" action="/logout" method="GET">
        <input type="submit" name="" value="Logout">
      </form>
    </div>
  </body>
</html>
