.container{
  width: 850px;
}
form{
  width: 200px;
  height: 200px;
  text-align: center;
  border: 2px solid black;
  display: inline-block;
}
#reset{
  border: none;
  width: auto;
  height: auto;
}
.submitbutton{
  width: 80px;
  height: 40px;
  border-radius: 5px;
  background-color: linear-gradient(rgb(0,155,185), rgb(0,175, 205));
}
.box{
  width: 530px;
  height: 200px;
  border: 2px solid black;
}
