.wrapper{
  background-color: rgb(27,51,93);
  width:970px;
  height: 940px;
  padding-top: 1px;
}
.top{
  background-color: rgb(207,48,54);
  color: rgb(194,214,236);
  border-radius: 5px;
  padding: 10px;
  margin:15px;
}
.sidewindow{
  width:240px;
  height:auto;
  background-color: rgb(42,125,140);
  color: rgb(85,199,204);
  border-radius: 10px;
  margin: 15px;
  padding:1px;
  text-decoration: underline;
  display: inline-block;
}
.sidewindow ul li{
  list-style-type: none;
}
.sidewindow .disc{
  list-style-type: disc;
  margin-left:10px;
}
.sidewindow .sub li{
  list-style-type:circle;
  list-style-position: inside;
  margin-left: 30px;
}
.main {
  border-radius: 20px;
  margin:15px;
  padding-left: 10px;
  float:right;
  width:655px;
  height:auto;
  background-color: rgb(14,24,34);
  color: rgb(144,166,205);
}
span{
  color: rgb(128,142,255);
  text-decoration: none;
}
span.desc{
  color: rgb(101,221,230);
  text-decoration: underline;
}
.end{
  padding-left:10px;
  background-color: rgb(93,102,115);
  width: 940px;
  border-radius: 10px;
  position: absolute;
  top: 870px;
  margin: 0px 15px;
}
