<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - PokeInfo</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Home/Search">Search</a></li>
    </ul>
    <div class = "window">
    @RenderBody()
    </div>
</body>
</html>
