<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Screen</title>
  </head>
  <body>
    <h1>Login</h1>
    {%with messages = get_flashed_messages() %}
      {%if messages%}
        {%for message in messages%}
          {{message}}
        {%endfor%}
      {%endif%}
    {%endwith%}
    <form class="" action="/login" method="post">
      <label for="user">First name:<input name="user"></label>
      <br>
      <label for="password">Password:<input type="password" name="password"></label>
      <br>
      <input type="submit" name="" value="Login">
    </form>
    <h2>Register (i/w)</h2>
    <form action="/registration" method="post">
      <label for="first_name">First Name:<input type="text" name="first_name" value=""></label>
      <label for="last_name">Last Name:<input type="text" name="last_name" value=""></label>
      <label for="email">Email:<input type="text" name="email" value=""></label>
      <label for="password">Password:<input type="text" name="password" value=""></label>
      <input type="submit" name="" value="Register">
    </form>
  </body>
</html>
