<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Wall</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}">
  </head>
  <body>
    <h1>Write messages here</h1>
    <form action="/add" method = 'POST'>
    <textarea name="message" rows="8" cols="80"></textarea>
    <br>
    <input type="submit" name="" value="Submit">
    </form>
    <form action="/logout" method="GET">
      <input type="submit" name="" value="Logout">
    </form>
    <h1>Messages displayed here</h1>
    {%with messages = session['print'] %}
      {%if messages%}
        {%for message in messages%}

        <h3>{{message['first_name']}} - {{message['created_at']}}</h3>
        <br>
        <div class="window">
          <p>{{message['message']}}</p>
        </div>
        {%with comments = session['comments']%}
        {%if comments%}
        {%for comment in comments%}
        {%if comment['id']==message['id']%}
        <h3>User number {{comment['user_id']}}   {{comment['created_at']}}</h3>
        <div class="cwindow">
          {{comment['comment']}}
        </div>
        {%endif%}
        {%endfor%}
        {%endif%}
        {%endwith%}

        <p>Post a comment</p>
        message id is {{message['id']}}
        <form action="/comment/{{message['id']}}" method="post">
          <textarea name="comment" rows="4" cols="70"></textarea>
          <input type="submit" name="" value="Comment">
        </form>
        {%endfor%}
      {%endif%}
    {%endwith%}

  </body>
</html>
